.calc {
  width: 320px;
  margin: 100px auto; 
}

#answer {
  background-color: #e3e3e3;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;

}
.btn {
  background-color: #333;
  height: 80px;
  width: 80px;
  color: #fff;
  font-size: 30px;
  border: 1px solid #000;
  float: left;
  cursor: pointer;
}
.btn:hover {
  color: dodgerblue;
}

.btn1 {
  width: 160px;
}
.toggle {
  padding: 9px 14px;
  border-radius: 11px;
  border: none;
  outline: none;
  background-color: #e8e822ee;
  margin-left: 20px;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}